

@font-face {
    font-family: 'Norse-bold';
    src: url('./assets/norse/Norse-Bold.woff2') format('woff2'),
        url('./assets/norse/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse-normal';
    src: url('./assets/norse/Norse.woff2') format('woff2'),
        url('./assets/norse/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 157vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.image-container {
    flex: 1.4;
    background-color: aqua;
}

img {
    width: 100%;
    height: 100%;
}

.content-container {
    flex: 3;
    background-color: rgb(251, 250, 250);
}

.content {
    margin-top: 165px;
    display: flex;
    flex-direction: column;
    justify-content: 'center';
    gap: 60px; 
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.intro p {
    width: 55ch;
    margin-left: 49px;
    line-height: 1.3em;
    font-size: 23px;
    font-weight: bold;
}

form {
    height: 300px;
    background-color: white;
    padding: 35px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}

fieldset {
    border: none;
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

legend {
    font-size: 23px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 2px;
}

input {
    padding: 8px;
    width: 270px;
    border: 1px solid grey;
    border-radius: 5px;
    transition: all 0.2s;
}

input[type]:focus {
    transform: translateY(-2px);
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

input[type=password]:user-invalid {
    border-color: red;
}